/* App.scss */
* {
	//margin: 30px;
	font-family: Amazon Web, sans-serif;
}
/*-----------------------------------------------------*/
/*------- (|  SCSS-VARIABLES  |) -------*/

/*-----------------------------------------------------*/
.AppContainer {

	/*------- (|  inner styles  |) -------*/
	main {
		margin-top: 5rem;
	}

	form {
		width: 30rem;
		max-width: 90%;
		margin: auto;
	}

}

@media (min-width: 768px) {
	//☰☰☰☰☰☰☰☰☰☰
	button {
		margin-bottom: 1.5rem;
	}
}
