/* HeaderUi.scss */
/*-----------------------------------------------------*/
/*------- (|  SCSS-VARIABLES  |) -------*/
$headerBoxShadow: 0 2px 6px rgba(0, 0, 0, 0.26);
/*-----------------------------------------------------*/
.HeaderUIContainer {


  /*------- (|  inner styles  |) -------*/
  header {
    background: #cf0056;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $headerBoxShadow;
  }

  h1 {
    text-shadow: $headerBoxShadow;
    color: #ecebeb;
  }
}
